.App {
  text-align: center;
}

.field {
  display: flex;
  align-items: flex-start;
  align-self: center;
  height: 500px;
  max-width: 800px;
  /* background-color: #00bfff; */
  /* background-image: url(resource/weatherBackBlured.jpg); */
  /* background-size: 100%; */
  background-color: #ccf2f4;
  border: 1px solid #1c222a;
  border-radius: 5px;
}

.field-before{
  
}

.field .container {
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  flex-basis: 60%;
}

.field .hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 25px 0px 25px;
  height: 100%;
  flex-basis: 40%;
  color: #1c222a;
  border-right: 1px solid #1c222a;
}

.field .container .formSearch {
  color: #1c222a;
  padding: 25px 0px 25px 0px;
  flex-basis: 35%;
}

.field .container .weatherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1c222a;
  padding: 0px 0px 25px 0px;
  flex-basis: 65%;
}